@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(11, 14, 19);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
